core
*.fuse*
*.trace
*.creator*

bin/
obj/
tmp/
gmake/
vs*/

*.exe
*.lib
*.a
*~*
*_d
*.make
Makefile

*.suo
*.user
*.opensdf
*.sln.docstates
*.psess
*.vsp
*.vspx
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

